div{
  margin: 5px;
}
.Main-container {
  display: flex;
  flex-direction: row;
  border:2px solid green;
  height: 37rem;

}

.Section-1 {
  text-align: center;
  flex: 0.5;
  border:2px solid red;
}

.Section-2 {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  border:2px solid red;

}

.Part-1 {
text-align: center;
flex:1;
border:2px solid blue;
}

.Part-2 {
  text-align: center;
  flex:1;
  border:2px solid blue;
}